@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Overpass:wght@300&family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    color: black;
}



/* headings and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #3a3a3a;
}

.logo {
    font-family: 'Permanent Marker', cursive;
    color: red;
    font-size: 300%;
    float: left;
}