@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Overpass:wght@300&family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    color: black;
}



/* headings and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #3a3a3a;
}

.logo {
    font-family: 'Permanent Marker', cursive;
    float: left;
    color: red;
    font-size: 400%;
    line-height: 100px;
}

/* navigation */

#menu {
    font-size: 120%;
    letter-spacing: 5px;
    line-height: 100px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 4px solid #B22222;
}

.active {
    border-bottom: 4px solid #B22222;
}

/* main image */ 

#main-outer {
    height: 800px;
    width: 100%;
    overflow: hidden;
}

#main-image {
    background: url('../css/images/peter-conlan-LEgwEaBVGMo-unsplash\ \(1\).jpg') center 10% / cover no-repeat; ;
    height: 50vh
}

